[2015-01-12 21:23] tommeagher opened #1 "How can we make this better?"
Friends, thanks for joining the team for this year's PyCAR bootcamps.

To start this off, would you each take a few minutes to review the repo, which the folks at IRE kindly forked from last year's lessons, and offer your thoughts on how we should update it?

After that discussion, we can divvy up the batting lineup for the day, but I wanted to start with some more open-ended thoughts.

What do yo

[2015-01-12 22:14] hbillings commented on #1
I remember my module needs some work. Gotta get on that.

Otherwise, I think the only thing I'd suggest considering is some discussion of debugging. We never really got to that last year and it might be helpful.

[2015-01-15 08:53] chrislkeller commented on #1
May just edit with thoughts as I work through the projects in the next couple of days...

* **immediate thoughts**
    * Agree on letting go of wakari... Are we in a position to do that...
    * Possible to have the projects lead into each other more gracefully?
**down the rabbit hole thoughts**
    * Everyone wants to scrape a website. I'm torn on this...
    * One thing I use all the time are co

[2015-01-16 22:55] tommeagher commented on #1
@hbillings I thought we had a discussion of debugging on the agenda last year. Did we just not get to that? It'd be great to include if we can.

@chrislkeller, are we assuming that everyone is going to rework or sharpen the same lessons they did last year?

Yes, we can get rid of Wakari. We can have [Anaconda](https://store.continuum.io/cshop/anaconda/) installed on all of the (Windows) machines,

[2015-01-21 20:09] tommeagher commented on #1
fwiw, I thought I'd share a little feedback I just got from one of our attendees last year:

[2015-01-21 20:18] tommeagher opened #2 "Update the README, contributors and take materials"
I can handle this, but am open to suggestions if there are specific recommendations you all have.

[2015-01-24 14:58] tommeagher opened #3 "Refactor project 1 (only as needed)"
Chris, I see you've made some commits on this already. Holler if you need any help.

[2015-01-24 14:59] tommeagher opened #4 "Refactor project 2 (as needed)"
Heather, let us know if you need a hand with testing and tweaking the project. Do you want to work on a short debugging interlude for after lunch too?

[2015-01-24 15:00] tommeagher opened #5 "Refactor project 3 (as needed)"
@esagara, pry yourself away from ILENE for a few minutes and accept the invite to this Github team.

[2015-01-24 15:01] tommeagher opened #6 "Refactor project 4 (as needed)"
Kevin, if you want, @katiepark could lend a hand with this too.

[2015-01-25 17:03] kevinschaul commented on #6
Trying to figure out a cleaner way to write a unicode csv in python 2.x. There has to be a better way than doing this: https://github.com/ireapps/pycar/blob/master/project4/step_3_complete.py#L32-L35

I currently see two options (please add more if you see more):

- Include a sane UnicodeCsvWriter class in this repository
- Include a PyPI dependency, like [python-unicodecsv](https://github.com/jdu

[2015-01-27 23:35] esagara commented on #5
I will try to run the scrape this week to make sure it still works as written, but it shouldn't need too many changes. I may add some other stuff such as caching (not a big leap I don't think). So unless we want to point it at another url, it should not be a heavy lift.

[2015-01-28 04:27] katiepark commented on #6
In the first option, do you mean that we would walk through writing a UnicodeCsvWriter class with the attendees? I think that could be a little too far into the weeds.

python-unicodecsv looks reasonable to me, though I haven't used it before.

[2015-01-28 05:43] katiepark commented on #6
On [this branch](https://github.com/ireapps/pycar/tree/dev-kp/project4), I made a few small changes to the readme and updated the GovTrack URL/json we're scraping to reference the most recent Congress.

In Steps 2 and 3, we're unnecessarily importing requests. @kevinschaul -- Is this just because the internet was bad and you switched to using a local version of the json? Should we plan to make the

[2015-01-28 08:50] esagara commented on #5
Ugh more malformed html on the BLS page. We need to either figure out how to address it or find a different url for the example. Could be a good lesson in dealing with the unexpected as this page seems to have problems of different flavors over time. See below for block of bad html - Lincoln is missing the opening `<tr>` tag which seems to be placed before the row for the United States entry.
[cod

[2015-01-28 14:26] kevinschaul commented on #6
I'm hoping we can figure out a way to completely hide text encoding issues from our poor beginners. Seems like something they ideally won't need to worry about their first day of programming. Do you think it's a good problem for debugging?

If I remember correctly, our thinking was we shouldn't really ping GovTrack every time each of us runs the script, but we should make sure the code can be pret

[2015-01-28 14:31] tommeagher commented on #5
Eric, malformed HTML could be a separate class altogether. It's a good discussion, but probably out of the scope of this class. How much trouble would it be to scrape a different URL?

[2015-01-28 14:33] tommeagher commented on #1
I think this discussion is winding down, so I'll close this one. If anyone has specific questions you want to kick around, please feel free to open another issue.

[2015-01-28 14:33] #1 closed

[2015-01-28 17:11] tommeagher commented on #6
I think avoiding explicit encoding issues as much as possible is a fantastic idea.

fwiw, unicodecsv is included in the [Anaconda Python](http://docs.continuum.io/anaconda/pkg-docs.html) distribution we're using. So we can include it in requirements.txt, but won't need to have anyone pip install it.

[2015-01-28 17:17] kevinschaul commented on #6
Oh, awesome! Let's just use that then.

[2015-01-29 22:43] katiepark commented on #6
Removed the extraneous `requests` imports and updated step 3 to use unicodecsv. Those changes are on the branch [dev-kp](https://github.com/ireapps/pycar/tree/dev-kp/project4) -- @kevinschaul, want to take a look before we merge into master?

So, as Kevin and I discussed, it might make sense to approach the unicode issue like this -- encourage attendees to use their debugging skills to figure out

[2015-02-02 19:38] kevinschaul commented on #6
@katiepark looks good to me!

[2015-02-03 22:18] tommeagher opened #7 "Who's on first?"
@Eklucas and our friends at IRE need to know which room each of us will be in this year.

What do you think about this lineup, to start the discussion?

##Room 0
* @chrislkeller
* @katiepark
* @Kevinschaul
* @Rdmurphy

##Room 1
* @Esagara
* @Hbillings
* @Tommeagher

This is not the order of teaching for the day, just to get us each in a room. If you want to switch rooms, that's no problem, just le

[2015-02-04 00:45] aboutaaron commented on #7
Yo! just a heads up that @rnagle, @malev are also teaching intro to Python at NICAR this year. Is this related to what you have here @tommeagher?

[2015-02-04 01:40] tommeagher commented on #7
@aboutaaron, I hadn't heard that, but I know there a ton of python sessions this year. This one is for the full-day mini boot camp on Thursday. I'm guessing they're doing one of the sessions on another day. If @rnagle and @malev want to help, we'd be happy to have them and to return the favor during their class.

[2015-02-05 23:29] eklucas commented on #7
Ok, for the program we're going to go with @tommeagher's suggestions above for room breakdown. But if last-minute switches need to happen, that's not a big deal either.

[2015-02-05 23:38] tommeagher commented on #7
Thanks, Liz!

[2015-02-05 23:38] #7 closed

[2015-02-07 13:20] #2 closed

[2015-02-07 13:21] tommeagher commented on #2
Can revise if the projects change, but this is good for now.

[2015-02-07 13:22] tommeagher commented on #5
How goes it? Do you need a hand with anything?

[2015-02-07 13:22] tommeagher commented on #4
What do you think, Heather? Any luck with this?

[2015-02-07 13:23] tommeagher commented on #3
Chris, how's this coming along? How do you feel about it?

[2015-02-07 13:24] tommeagher commented on #6
Hey Kevin and Katie, how's your branch going? Are you ready to merge it with master?

[2015-02-07 17:27] hbillings commented on #4
Hahaha. Ahem. I think I've figured out what I want to do; now I just have to do it. I'm going to clean the data more than I did the first time around, and include those stepson a separate file. I think this will let us spend more time talking about what dicts are and how to use them.

[2015-02-07 18:26] tommeagher commented on #4
Sounds like a great plan. Just didn't want you to think we'd abandoned you. If you need an assist, holler and one of us can lend a hand.

[2015-02-07 19:40] chrislkeller commented on #3
Hey Tom.. I feel good. I hope to have a final draft by the end of the weekend for feedback and guidance.

[2015-02-07 19:58] tommeagher commented on #3
Awesome. Look forward to checking it out. Thanks!

[2015-02-09 17:07] chrislkeller commented on #3
Let me revise my previous statement to say "draft" sted "final draft." I have some blanks to fill in, but I think the re-focus is basically completed.

I took the feedback you posted to heart, and thought through what I stumbled against in teaching and tried to just focus on the building blocks.

I have some work to do building out sections on comments, indentation and comparisons and conditionals

[2015-02-11 13:07] tommeagher commented on #3
Chris, I think this looks great. You're heading in exactly the right direction. Keep going!

[2015-02-16 01:50] #3 closed

[2015-02-17 21:22] tommeagher commented on #4
Heather, those commits you pushed over the weekend look like you're moving in just the right direction. Glad to see you included try/except in a way that makes sense and seems easy.
This is great. Don't give up. Keep going!

[2015-02-17 21:44] hbillings commented on #4
W00t, thanks! I'm a little worried that some of the concepts in there are kind of advanced, but I figure a disclaimer that "some of the concepts in here are kind of advanced and you shouldn't feel bad if they're hard to understand" will help a little... The rest of this should be done by the weekend!

[2015-02-18 15:13] katiepark commented on #6
Whoops, sorry -- this is merged!

[2015-02-18 15:13] #6 closed

[2015-02-18 15:45] tommeagher commented on #5
Tomorrow, we'll be exactly two weeks out from PyCAR. What's the good word, @esagara? Any luck with this yet?

[2015-02-25 19:03] tommeagher opened #9 "The batting order"
How do we want to do this next week? Here's a proposed lineup, but please make suggestions if you have other ways you want to do it.

Room 1
Intro - Tom
Project 1 - Tom/Heather
Project 2 - @hbillings
Lunch
Debugging chat - Heather
Project 3 - @esagara
Project 4 - Eric/Tom

Coach - @richardsalex

Room 2
Intro - @chrislkeller
Project 1 - @chrislkeller
Project 2 - @rdmurphy
Lunch
Debugging chat - ?
P

[2015-02-25 19:07] kevinschaul commented on #9
I'm flying in early Thursday morning so I'd miss the meetup, but this schedule works for me.

[2015-02-25 19:20] chrislkeller commented on #9
@tommeagher - what do you envision the intro being? What highlights should it hit?

I'm good with the lineup, and given some guidance I might be able to pull off the intro...

I arrive Tuesday afternoon and am up to meet whenever...

[2015-02-25 19:25] katiepark commented on #9
Do you have a rough idea of the timing for each project? I have a panel
from 3:20-4:20, but I'm not sure if that'll conflict or not.

On Wed, Feb 25, 2015 at 2:20 PM, Chris Keller <notifications@github.com>
wrote:

[2015-02-25 19:28] tommeagher commented on #9
@chrislkeller, the intro is roughly this: https://github.com/ireapps/pycar/blob/master/README.md#introduction
The slides on HaikuDeck are 404'ing for some reason. I'll send a support request to them if they don't show up later tonight (they're in my account index).

@katiepark, it depends on the class. I seem to recall that in our room last year, we basically did project 1 before lunch and then fl

[2015-02-25 20:09] hbillings commented on #9
Heeeey, I totally forgot about the debugging session. I am actually pretty terrible at debugging Python (the entirety of my knowledge is occasional use of ipdb). Would anyone else have some bandwidth to either help or take that session over?

[2015-02-26 02:28] tommeagher commented on #9
@hbillings, I totally understand. I think we're all starting to feel our bandwidth evaporating. I don't feel particularly well suited for that discussion ("uh, have you tried StackOverflow and PythonJournos?"). Any chance @rdmurphy would want to pick up that debugging talk?

[2015-02-27 01:12] esagara commented on #5
Ok refactored project 3 to point to a new url - box office rankings. Also reworked the readme to match the changes I made.

[2015-02-27 15:24] tommeagher commented on #5
#win

[2015-02-27 15:24] #5 closed

[2015-02-27 18:59] tommeagher commented on #9
@chrislkeller, the Haiku Deck slides have been fixed and the link on the main README works: https://www.haikudeck.com/pycar-science-and-technology-presentation-Hrdor9dY3R

[2015-03-02 19:32] chrislkeller commented on #9
@tommeagher ... I'll take intro hosting duties...

Any issues if I take 30 minutes between 4 and 4:30 to meet with Zillow folks about their PR approach to data...?

[2015-03-02 20:15] tommeagher commented on #4
@hbillings, I see you pushed some commits yesterday. Can we close this thread out then?

[2015-03-02 20:19] hbillings commented on #4
I think so!

[2015-03-02 21:18] tommeagher commented on #4
Bam!

[2015-03-02 21:18] #4 closed

[2015-03-02 21:45] tommeagher commented on #9
@chrislkeller Sounds good to me if it works for the co-teachers in your room. That should be Kevin/Katie at that hour.

And to get back to the question earlier about a debugging session, at this point I'd say we should consider that a WONTFIX and just adlib. With the collective folks in each room, we could do this as an informal discussion rather than a "presentation."

[2015-03-03 02:53] #9 closed

[2015-03-03 18:31] tommeagher opened #10 "Travel safely to Atlanta..."
Thanks to all of you--@hbillings, @esagara, @chrislkeller, @rdmurphy, @katiepark, @kevinschaul, @richardsalex--for the time, energy and enthusiasm you've put into getting ready for this year's PyCAR.
By my rough count, there have been more than 30 commits to this repo since Jan. 1. I think Thursday's classes are going to be awesome, and it's entirely due to your hard work. So thank you.

Now, get

[2015-03-04 22:34] rdmurphy commented on #10
:+1: (Made it.)

[2015-03-05 05:02] tommeagher commented on #10
PyCARians, sorry we didn't get to meet en masse tonight, but the evening got away from me. Let's plan to meet at 8:40 am at the registration table so we can disperse to our respective classrooms. And @kevinschaul, good luck traveling down here in the morning...

[2015-03-05 20:22] chrislkeller opened #11 "Better explanation of indentation and whitespace"

[2015-03-05 20:23] chrislkeller opened #12 "guide project 1 goal to creating a simple report of banks failed in a set of states"
- csv.reader()
- csvDictReader()

[2015-03-05 21:05] tommeagher opened #13 "Add slicing to lists intro in project 1"

[2015-03-05 21:05] #10 closed

[2015-03-06 13:26] #13 closed

[2015-03-06 13:46] tommeagher commented on #11
This was something folks in our room really struggled with too. Definitely worth thinking about for the next iteration.

[2015-03-09 18:08] rdmurphy opened #15 "Why is interacting with files using `rb` and `wb` safer?"
We had this come up in our session – people wanted to know why using the `b` was safer. It'd be nice for us to actually be able to explain that beyond just saying, "Everybody does it! Trust us." :smile:

(Which is basically what we did.)

[2015-03-09 18:10] rdmurphy commented on #11
Agreed. I don't know if we have to go full "tokenization" on them, but figuring out some clever way to do this would be good.

[2015-03-09 18:11] chrislkeller commented on #15
+1 indeed. It's that thing that I forgot came up last year until we came to it this year.

[2015-03-09 18:14] chrislkeller opened #16 "Can we scale back to two projects and multiple concepts in each?"
* A first project would pull together key and core concepts to do X
* A second project would build upon those to do Y
* Most folks want to scrape a webpage. I also think APIs (Sorry @kevinschaul :( ) should be touched upon because you don't need to scrape.
* Writing to text and csv files is a must.

[2015-03-09 18:41] hbillings commented on #15
According to Serdar, who is the one who pounded this into @esagara and me, nothing unexpected happens if you read/write a regular file with the binary option, but if you try to read/write a binary file without the binary option, it causes Bad Things. (Note that I haven't researched this myself, so perhaps there's something else to it, but I tend to trust anyone who smokes cigars with me.)

[2015-03-09 18:43] hbillings commented on #16
I like this idea a lot (especially now that we all know how much time is lost context-switching).

[2015-03-09 18:44] hbillings commented on #11
Our group just didn't understand the importance of whitespace and indentation. We had a hard time getting them to understand why not indenting things under loops broke their code, for instance.

[2015-03-09 18:46] rdmurphy commented on #16
:+1: Agreed. I think having the same data set used across all the projects would be nice.

[2015-03-09 19:16] chrislkeller commented on #11
Closed because the explanation was good enough?

[2015-03-09 19:20] chrislkeller opened #17 "PyCAR 15 feedback thread: Official session feedback or anecdotes..."
Dunno if there's a better way to catalog this - or if we even should - so figured an issue would work?

**Data reporter with experience in R and SQL but not Python**

My main thing is that even these basics are a lot to pack into a single day. Anything that helps me 1) commit syntax  to memory or 2) gives me incentive to use python once I go back to my job is a good thing.
* Ideally I’d use my own

[2015-03-09 19:44] tommeagher commented on #17
This is incredibly, helpful, folks. So if you have others, please put them here, anonymously, of course.

I don't know about using your own machine. I get it, but I worry we'd spend a considerable amount of time at the beginning getting people set up that would kill any attempt at momentum. Any ideas how to solve that?

A handout is probably doable. What should be included in a one-pager?

This is

[2015-03-09 19:45] tommeagher commented on #12
We do use these readers in later projects, as it's currently designed.

[2015-03-09 19:46] tommeagher commented on #11
Yeah, why is this closed?

[2015-03-09 19:49] tommeagher commented on #16
I'm fine with this, if we want to re-architect the day. We should just chat at some point about what it'll look like. Is there an intro to the basics, as we have now, or do we do that in the course of a first project?

I could see us doing project 2 (reading, transforming and analyzing data from files) and a combined project 3/4 (scraping/hitting an api and outputting.

[2015-03-09 20:00] hbillings commented on #17
On the "why is Python awesome" point, maybe we could add to the intro, where we talk about Python, a bit about why people choose to use a programming language over Excel or Access. This might lead well into talking about a project one of us has done where the data is cleaned/updated with Python, also hitting the "amazing data work" point. I think you really need only one project to drive the point

[2015-03-09 20:38] tommeagher opened #18 "Should we make a companion site on Github Pages?"
Even something as simple as this Jekyll site we made for [the data analysis class](tswicegood.github.io/python-data-science-intro/) might be helpful for folks who don't want to just start pouring through code to learn this.

[2015-03-09 20:43] zstumgoren commented on #18
+1 We created a more generic, stand-alone tutorial [for the intermediate class](http://refactoring-101.readthedocs.org/en/latest/index.html) on RTD. Then we distilled bits of that tutorial into a single day of teaching at NICAR this year. Goal was to have something stand-alone for folks who couldn't make the class, as well as a resource/refresher for those who could.

[2015-03-09 21:36] aboutaaron commented on #17
Here's some post-combat updates from the session @malev @rnagle and I led:

- The examples y'all had were great. Folks had a lot of fun splicing and dicing strings
- CSVs were great to manipulate as well. We didn't get a chance to get to the baseball data, but we ended up introducing a script to show how you might break the CSV up by state. See: https://github.com/rnagle/pycar/blob/master/project1

[2015-03-09 21:39] aboutaaron commented on #17
Oh, and it looks like there were several __pycar__ folders on the desktop so we ran into some issues were folks were in the wrong directories. For example, one computer had around four __pycar__ directories and it took us a minute to figure out exactly which one was which.

I think if we fork the project, we'll definitely need to scope the projects to their days and instructors unless it's entirel

[2015-03-09 21:40] chrislkeller commented on #17
Thanks @aboutaaron... I'll add Ryan's code to this repo.

The Sublime Text 3 angle came up in a conversation I had with another participant. Like the bone-headed fool I am, at one point I had folks exit the python interpreter without giving them a chance to save their notes.

Is there a need to show some interpreter, but to echo Aaron I think any scripting can be done in ST3.

[2015-03-09 21:41] chrislkeller opened #19 "Look at adding Ryan Nagle's extra credit code to project 1"
Can be found here:
https://github.com/rnagle/pycar/blob/master/project1/extra_credit_state_banks_complete.py

[2015-03-09 21:43] zstumgoren commented on #15
The binary flag for read/write bits help avoid corrupting binary files (e.g. jpeg) on Windows machines, but I've found that it also helps avoid cross-platform headaches when transferring text files between *nix and Windows. I'll admit I can't explain the precise reasons (I'm guessing it's because of differences in the newline character), but I've noticed the binary flag [occasionally resolves prob

[2015-03-09 21:51] chrislkeller opened #20 "Balance the breakdown of the teachers..."
@hbillings and I talked on Saturday night about a great many things & this came up: we need to involve more women to help teach this class.

I'm sure any of us will step aside if it means increasing the gender ratio.

[2015-03-09 22:02] tommeagher commented on #20
Agreed. We were thrilled to have @katiepark join the team this year, but a 2:1 or 3:1 ratio isn't great. I too will gladly step down to make way. Let's keep this issue open and revisit when we start planning in the fall.

[2015-03-09 22:05] rdmurphy commented on #11
Doh. Sorry. That was an accident. I think I was typing a comment then got distracted and hit the wrong thing.

[2015-03-09 22:13] mikejcorey commented on #17
Hi all: Thank you for doing this. This is beyond the scope of just PyCAR, but I did want to bring up a concern I had this year about Python generally at the conference. In short, there's a lot of it and it's kind of all over the place, though most of the material is excellent.

And I am totally not casting aspersions on any of these classes, their instructors or the idea of teaching Python. I'm pr

[2015-03-09 22:25] chrislkeller commented on #17
@mikejcorey Thank you for adding this in such a thoughtful way.

I had similar thoughts and discussions with other about this topic but could never boil things down the essence of what I was thinking in the manner you did.

I think my own stumbling point in thinking through this is mentioned in your last heading: **without losing the advantages of having many voices involved in the process**. The

[2015-03-09 22:30] mikejcorey commented on #17
Oh, sorry, I was unclear about the thumbs-up/down part. I meant that the committee would recommend the scope of each session, with extensive feedback, then the whole community would vote yes or no, we approve this standard.

[2015-03-09 22:38] chrislkeller opened #21 "Is it possible to create a structure to create related lessons without losing the advantages of having many voices involved in the process?"
Based on suggestion at [PyCAR 15 feedback thread](https://github.com/ireapps/pycar/issues/17)

@mikejcorey writes:

@esagara writes:

@chrislkeller writes:

[2015-03-09 22:40] chrislkeller commented on #17
My blinders @mikejcorey... Read right over that and focused on the big type... [Adding issue](https://github.com/ireapps/pycar/issues/21) to focus discussion specifically to that.

[2015-03-09 22:41] rdmurphy commented on #17
I think these are all great points @mikejcorey.

### Too much Python?
I was a little overwhelmed by the sheer number of Python-focused courses NICAR offered this year. I assume some of this was the result of offering something comprehensive (like PyCAR) as a reserve-in-advance course, but not wanting to leave out the opportunity for others who don't do that to get a taste. It's a tough spot to be

[2015-03-09 22:41] chrislkeller opened #22 "Can we standardize and optimize the tools and libraries that are used in teaching Python at NICAR?"
Based on suggestion at [PyCAR 15 feedback thread](https://github.com/ireapps/pycar/issues/17)

@mikejcorey writes:

@rdmurphy writes:

@aboutaaron writes:

[2015-03-09 22:41] esagara commented on #17
I am going to weigh in here with a couple of thoughts.

* First, I love working in iPython and think it's a great tool. But it is not part of the standard library and getting iPython Notebooks set up on the fly can be a bit difficult. It is also a barrier to entry for new programmers who may not be able to understand how to start up the server.

I feel we need to present python in a way that is ea

[2015-03-09 22:45] chrislkeller opened #23 "How would we introduce a few levels of basic instruction that have a related and linear curriculum?"
Based on suggestion at [PyCAR 15 feedback thread](https://github.com/ireapps/pycar/issues/17)

@mikejcorey writes:

@esagara writes:

[2015-03-09 22:48] tommeagher commented on #17
Yes, thank you @mikejcorey, for putting these thoughts together.

I've been thinking along similar lines the last few days about the teaching of syntax rather than process at NICAR. Our aim with this class in particular has been to expand the knowledge of programming beyond news app development by teaching reporters how to program for reporting. For the reasons you cite, we chose Python to do it.

[2015-03-09 22:54] chrislkeller commented on #23
@esagara raises an awesome point/idea/opportunity...

[2015-03-09 22:55] tommeagher commented on #23
And to be really ambitious, can we map those levels to other tools/languages across the conference?

Is there a level for scraping that's offered in Python, Ruby and JS, or one on aggregating data in SQL, R, Python and Excel?

[2015-03-09 22:57] tommeagher commented on #22
The setup issue is not trivial. Even in the reserved classes, people understandably insisted on using their own machines. But as we all know, setting them up can murder the momentum of the class. How can we get people, especially new learners, bootstrapped ahead of time? Should teachers be required to post setup walkthroughs 1 week ahead?

[2015-03-09 23:24] hbillings commented on #23
This touches on something I would love to see NICAR do (and something I'd be willing to help put together, as I've been kicking the idea around for a couple of years now): Intro to Programming Logic. A lot of the basic programming concepts transfer easily across languages. I believe it is totally possible to teach those in pseudocode instead of an actual language, with all of the hassle of system

[2015-03-09 23:25] zstumgoren commented on #17
Great comments so far folks, and very glad we're having this conversation.

I also was surprised at the motley of new Python courses and some of the overlaps (in name if not in content). We most definitely shouldn't drown out new voices by creating a Curriculum Committee,  but given the growing popularity of Python in particular and programming-type classes in general, it seems like a good idea to

[2015-03-09 23:26] hbillings commented on #17
This touches on something I would love to see NICAR do (and something I'd be willing to help put together, as I've been kicking the idea around for a couple of years now): Intro to Programming Logic. A lot of the basic programming concepts transfer easily across languages. I believe it is totally possible to teach those in pseudocode instead of an actual language, with all of the hassle of system

[2015-03-09 23:27] hbillings commented on #22
I support the idea of posting walkthroughs, not only because people can get bootstrapped, but also because those who do use the provided machines are going to need to do some amount of set up on their own computers at home.

[2015-03-09 23:30] rdmurphy commented on #22
I do think you can set up some level of expectation for being pre-setup – I noted in my writeup for the grunt/node course that all attendees were expected to have some experience with the shell, and it went fine. For an advanced course, going in with the expectation they have already installed Python and can follow install instructions seems reasonable.

I think it'd be good for us to prep a write

[2015-03-09 23:49] chrislkeller commented on #17
I love this @hbillings... Absolutely love the idea of a pseudocode session.

[2015-03-10 00:08] esagara commented on #17
@hbillings I actually pitched something very similar this year. Perhaps I should have done it as a lightning talk. The basis was if you know how to use Excel, you know how to program. The cell A1 is a variable. Column A is a list or array. =IF(condition, value if true, value if false) is a conditional. The comparisons can go on and on. I think we spend a lot of time teaching basic concepts that pe

[2015-03-10 01:51] hbillings commented on #17
@esagara That's right! I remembered I talked to someone who had had the same idea, but I couldn't remember who it was. (I can't remember a lot of things, actually...)

[2015-03-10 14:28] tommeagher commented on #17
This thread is fantastic, everyone. Thank you all for contributing to the discussion, even in spite of the lingering sleep deprivation, jet lag and conference hangovers.

I'd be interested to hear what folks like @knowtheory, @mattwaite, @palewire, @ryanpitts, and @joegermuska think about this idea of bringing some structure to teaching programming for journalism at NICAR and the possibility of st

[2015-03-10 14:29] tommeagher commented on #17
@esagara & @hbillings, I love the idea of pseudocode/logic class, which is similar to what I was suggesting above. If you're looking for another contributor, count me in.

[2015-03-10 15:44] zstumgoren commented on #17
@tommeagher @hbillings @esagara @chrislkeller @rdmurphy & Co. -- just pinged Mark and Jaimi at IRE so let's see what they have to say. Meantime, definitely interested to hear feedback from other folks that Tom CC'd.

[2015-03-10 18:22] palewire commented on #17
I think this is a great idea.

My two cents:

* I'm a fan of broadening Python coursework to incorporate Git, HTML, databases and other parts of the stack rather than trying to diversifying the scripting language pool.
* That yields a big bonus when classes can be structured so that students gradually recreate a real world app or story from end to end, even if they only achieve [a rudimentary knoc

[2015-03-10 19:13] chrislkeller commented on #22
@rdmurphy: Regarding...

uses requests. I was kinda surprised no one in our course asked why it suddenly changed.

My thought process was because this was the first lesson and we were focusing on numbers and strings it made sense to use modules provided by the standard library, hence urllib...

With additional structure we can become consistent, but there's a balance in not overwhelming...

[2015-03-10 19:44] hbillings commented on #17
On @palewire's last point: I think three people is a good number for a hands-on session. I was in one of the intro to D3 sessions, mostly to kibbutz, and it turned out to be really useful to the two presenters to have a third person to float around. Both of them would have been entirely tied up troubleshooting without someone else there (they didn't have a coach in the room).

[2015-03-10 22:36] richardsalex commented on #17
First, just let me thank all of you not only for expending/investing so much time and energy in NICAR15’s hands-on classes, but also for leaping right into a thoughtful postmortem on your experiences without delay. This is a great conversation, and I’m glad it’s happening.

If I’m reading the thread correctly, it seems to condense around the following four questions:

- How can course offerings be

[2015-03-11 01:12] rdmurphy commented on #22
Just want to bring over this email from NICAR-L – I scrubbed the name:

WARNING: using virtualenv with Anaconda is untested and not recommended.
    We suggest using the conda command to create environments instead.
    For more information about creating conda environments, please see:
         http://docs.continuum.io/conda/examples/create.html

[code]

[2015-03-11 03:18] esagara commented on #22
I tend to lean toward picking a version of Python - ie 2.7 - and starting out with nothing but a clean install. Here's why:

###### We are skipping steps
Moving from urllib in Project 1 to Requests in Project 3 makes sense if we are teaching the students the difference between modules already in the standard library versus ones you have to import. There is the potential for frustration when studen

[2015-03-11 18:43] tommeagher commented on #22
Re: anaconda, I got several questions the last couple days about how to deal with it. I responded to one of the listservs with this;

Sounds like many of you are having a similar reaction this week.

[2015-03-11 18:57] tommeagher commented on #17
@richardsalex, I think your summary of the issues we were wrestling with is a good one. Of course, we should say that all of this discussion is in the context of our unflagging support of IRE and our fellow investigative journalists. I thought you all did a bang-up job in organizing and executing the conference this year. We want to assist you in your work and to help find ways to better teach eac

[2015-03-13 14:48] JoeGermuska commented on #17
Coming in late, the one general bit of feedback I had from a few Knight Lab
folks was disappointment with hands-on sessions that were predominantly
"type what I type. now type this. now type this."

I know it can be hard to frame things more conceptually, but I thought I'd
share it anyway. Maybe three hour classes is one way to aim higher. There
was also a suggestion of mandatory pair programming,

[2015-03-13 16:06] ghing commented on #17
Joe,

I really tried to do this with my session.  Do you know if any of your
students went?  I'd be interested in their feedback if they did.

I tried to structure my session like:

Concept
Example of concept from source code of a journalism-related open source
project
Exercise

You can see the slide deck at
http://ghing.github.io/nicar2015_advanced_python_slides/ get a sense of
what this looked l

[2015-03-13 16:18] hbillings commented on #17
I think this depends on the target audience of the class, too. For some of
the advanced sessions it makes sense, but in an intro class there has to be
some level of "type this," at least at first. If it's a longer session,
like ours was, I think we could definitely afford to throw more
problem-solving at the students in the second half. And, this might be
mitigated by spending more time up front t

[2015-03-13 16:37] zstumgoren commented on #17
+1 @JoeGermuska We applied a *teach -> practice -> code review* cycle for the Python Intermediate class and (I think) it went really well during the first half of the day.

It was a tougher slog in the second half of the day, however, when we moved on to more difficult/foreign material, namely object oriented programming and designing programs with classes. We tried to take the temperature of the

[2015-03-13 19:07] esagara commented on #17
One other thing I would like to point out. There were several times where @hbillings and I were looking for a whiteboard or large sheet of paper so we could quickly sketch out concepts. Adding whiteboards or easels with paper would be a great help I think at least in the intro class. It could also be used to build more interaction between students and teachers.

[2015-03-13 22:13] JoeGermuska commented on #17
So I came back and read the entire Git thread (I came in only when @tommeagher tagged me)... Some more thoughts:

Don't apologize about a lot of python classes. The simple fact is that if you want to string together a chain of classes of increasing sophistication, you need to focus.

@hbillings mentioned something about explaining data cleaning practices and why to use code instead of Excel: there

[2015-03-21 12:53] knowtheory commented on #17
Hey.  This discussion is awesome.

I'm glad that there's an interest/focus on capabilities rather than fixation on languages.  There are a couple other examples of curricula built like this, most notably Zed Shaw's "Learn {Ruby,Python,C,SQL} the Hard Way" series.

There will always be a challenge for any bootcamp style instruction between keeping everyone on the path while giving people enough fre

[2015-06-17 21:09] jtmx opened #24 "project2: What does "**" mean?"
Missed the conference and following the tutorial at home.

95: ` merged_data.append(dict(dict1[key], **dict2[key]))`: what does the "**" mean? The comment in the file notes that "**" expands the values - not sure what 'expand' means here.

StackOverflow notes that "**" indicates extra arguments may or may not be used. Not sure if that note applies to this context and if so, what extra arguments we

[2015-06-17 21:16] jtmx opened #25 "project4/step_3: "bill" not defined"
Line 28: `for bill in objects:...`
The error message "bill not define" results after I put in the command.
We do have the bills.json and bills.csv files, but no "bill" variable. Thoughts?

[2015-06-23 16:17] tommeagher commented on #24
That part of the day was designed by @hbillings, so Heather, would you like to take a swing at explaining the ** dict unpacking for Jenny?

[2015-06-23 16:25] tommeagher commented on #25
Jenny, sorry for the delay in responding to this. Are you saving this code in a script that you run from the command line, or are you typing them one line at a time in the interactive interpreter?
Either way, can you share your code in the lines before this? My guess is something got mistyped along the way. When I run this with ```python step_3_complete.py```, everything works as expected.

But to

[2015-06-28 05:43] jtmx commented on #25
Thanks Tom. Your explanation helped.

Yup, you're right - just a typo on my part. Now everything works.

[2015-06-28 05:43] #25 closed

[2015-07-15 15:36] hbillings commented on #24
Oof, sorry about the late response on this! Also...oh man, reading my own code sucks. Let me try to remember what I was doing there...

So this is an example of `kwargs`, which stands for "keyword arguments." If you look at line 15, you'll see I'm doing this there:
``deets_plus_job = dict(my_deets, **{'employer': 'Northwestern University', 'boss': 'Joe Germuska'})``

Alternately, I could write thi

[2015-07-23 19:55] jtmx commented on #24
Thanks Heather. Unpacking makes much more sense now - a short cut for adding dicts together so you don't have to rewrite the entire thing. Many thanks.

[2015-07-23 19:55] #24 closed

[2016-01-11 19:49] richardsalex commented on #20
We've gone down to a single, larger PyCAR class this year to make room for more varied, open offerings (and a new R workshop that requires preregistration, led by Ryann Jones and Annie Waldman). As it stands, we're at 1:1 in PyCAR, and while that's an improvement, we always need to try to involve more women. Speaker and teacher diversity is at the forefront of our minds when we plan these conferen

[2016-01-11 19:50] #20 closed

[2016-01-11 19:58] richardsalex commented on #21
We've made an attempt to centralize planning of different coding avenues (Python, R, Ruby, JS) by having a couple of volunteers in each help organize "tracks" that range from novice to more intermediate/advanced. The other goal here by doing this is to help keep lines of communication open between teachers ahead of the conference while everyone plans there classes. We'll see if and how it works an

[2016-01-11 19:58] #21 closed

[2016-01-11 20:23] richardsalex commented on #22
We've made an attempt to centralize planning of different coding avenues (Python, R, Ruby, JS) by having a couple of volunteers in each help organize "tracks" that range from novice to more intermediate/advanced. One of the central goals here by doing this is to help keep lines of communication open between teachers ahead of the conference while everyone plans there classes — this will also mean (

[2016-01-11 20:23] #22 closed

[2016-01-11 21:10] richardsalex commented on #23
As part of having more top-down guidance on classes for various programming languages, I think we've addressed this somewhat. Classes tend to address similar concepts across languages (where applicable) — collection, analysis, viz, etc. In the past, people used to pitch sessions and we'd end up with variations of similar classes. If progressions existed, it wasn't always clear to attendees. We're

[2016-01-11 21:10] #23 closed

[2016-01-27 19:28] tommeagher opened #26 "Round 3!"
It's time to start preparing for [NICAR16](http://ire.org/conferences/nicar2016/) and our third iteration of PyCAR. This year, there will be a few changes.

First, our teaching squad will be evolving. Sadly @chrislkeller, @kevinschaul and @katiepark will not be able to join us in Denver. And @esagara and @rdmurphy will be teaching other classes. We wish all of them the best and salute them for the

[2016-01-27 19:36] tommeagher commented on #17
Closed by #26.

[Alex hinted at this a few days ago](https://github.com/ireapps/pycar/issues/22#issuecomment-170678836), but it's worth mentioning that all of this feedback was really helpful as we've been thinking about the hands-on sessions at this year's conference. We're trying to use many of the ideas from this discussion to make things even better this year.

Thanks again for all of your fee

[2016-01-27 19:36] #17 closed

[2016-01-27 19:55] richardsalex commented on #26
As of this morning (Wed., 1/27), we do have full registration for PyCAR (31 seats) and even a waiting list.

[2016-01-27 19:59] tommeagher commented on #26
:clap: :clap: :clap:

[2016-01-29 01:49] tommeagher opened #27 "Handout(s)?"
One piece of early feedback we got last year was that some students [really love paper](https://github.com/ireapps/pycar/issues/17#issuecomment-77927152) and wanted handouts.
We provide a lot of links in the repo. Would [any of these](https://github.com/ireapps/pycar/tree/master/takehome) work as a good one or two page handout? Or do you know of another that would be better?

[2016-01-29 05:39] chrislkeller commented on #27
Some kind of reference for during the class would certainly be helpful.
[This](http://sleet.aos.wisc.edu/~gpetty/wp/wp-content/uploads/2011/10/Python_qr.pdf) is linked to off the take home page and could do the trick.

[This](http://www.cheatography.com/davechild/cheat-sheets/python/pdf/) is also a good printable reference.

[2016-01-29 05:57] chrislkeller commented on #26
Let me know how I can help... Hope to be back in the saddle for 2017...

[2016-01-29 18:04] tommeagher opened #28 "Why is Python awesome?"
Again, this is feedback [from students last year](https://github.com/ireapps/pycar/issues/17#issuecomment-77927152). We do go into this in the introduction, but are there other examples we should use or points we should be sure to hit later in the day?

[2016-01-29 19:06] richardsalex commented on #28
This isn't a specific example, but I've asked a couple of classes to think about a really repetitive part of their reporting workday or week. The things that end up eating up hours of time when you add it all up, like collecting information from a spreadsheet that gets updated regularly or a map they're trying to keep current online but they have to periodically punch in values by hand — stuff lik

[2016-01-29 19:08] richardsalex commented on #27
These aren't terrible either: [1](https://ddi.ifi.lmu.de/probestudium/2013/ws-i-3d-programmierung/tutorials/python-referenzkarte), [2](http://www.cogsci.rpi.edu/~destem/igd/python_cheat_sheet.pdf).

I can talk to the home office about having these printed up and waiting for the class in Denver once we decide on the best materials.

[2016-01-30 06:31] zufanka commented on #27
I think the 1
<https://ddi.ifi.lmu.de/probestudium/2013/ws-i-3d-programmierung/tutorials/python-referenzkarte>
that Alex proposed is the best (2
<http://www.cogsci.rpi.edu/~destem/igd/python_cheat_sheet.pdf> gives 404
btw)
We might also however want to also include functions of the modules we will
be using (most importantly BeautifulSoup and regex I'd say).

On Fri, Jan 29, 2016 at 8:08 PM, Alex R

[2016-01-30 06:48] zufanka commented on #28
Good point! The epiphany of  "I'm actually doing something repetitive that
can be delegated to a computer" is still something many don't realize.

Once I was working on a quite big investigative project with 4 other
(completely nontechnical) people. At one meeting, I could not attend, they
have decided to create a spreadsheet of all side jobs of Dutch professors.
There are 12 universities and each

[2016-02-05 19:59] tommeagher commented on #27
[This link](http://www.cogsci.rpi.edu/~destem/igd/python_cheat_sheet.pdf) is working for me now. I like this one the best, though we could certainly add to it if we wanted to add, as @zufanka suggested, information on requests or bs4. Many of the other tipsheets are inscrutable to me, even as someone who's been writing Python for years. I don't think they'd be as useful for apprehensive journalist

[2016-02-05 20:14] hbillings commented on #27
I really like that second link. I can take a stab at stubbing something
out.

[2016-02-05 20:21] tommeagher commented on #27
:+1:, Heather. Thanks! Holler if you want any help or feedback.

[2016-02-05 20:25] hbillings commented on #27
Will do! I'll post a draft here when my brain gives up, haha.

[2016-02-07 19:10] tommeagher commented on #16
I want to resurrect this thread. One of the key pieces of feedback we got last year was a bit of frustration from students about classes that were mostly ["type what I type. now type this. now type this."](https://github.com/ireapps/pycar/issues/17#issuecomment-79007096). Another commenter said something similar

I wonder if we can recast the day slightly to address some of this.

I was thinking o

[2016-02-07 19:11] tommeagher commented on #28
Alex and Adriana, these are really helpful. I think we can use these examples in the introduction of the day and we might ask you to repeat these for the class. Thanks!

[2016-02-09 16:30] richardsalex commented on #27
I may have spoken too soon on the ability to have these handouts waiting for us in Denver; it seems as the conference has grown (and grown and grown) to a whopping 13+ rooms, IRE stopped trying to deal in physical materials for classes ahead of time. The best course of action may just be to give attendees a PDF copy of what we come up with so that they can print it out later.

Also, there was a li

[2016-02-09 16:40] richardsalex commented on #16
I'm open to this. I think that three or four projects in a single day is pretty aggressive, probably too much so for a new crowd. I think there can be a kind of crazy rift between the very intro stuff dealing with data types and control flow and that first script that's actually doing something, so I almost prefer to keep that part tightly on rails and just explain the whys and what's happening of

[2016-02-10 22:04] tommeagher commented on #27
@richardsalex, I think it's fine if we don't have physical printouts for people. With what Heather is working on, we can feature it prominently in the README and in the class to make it clear that this is the one cheatsheet to rule them all.

And a whiteboard would be great. Thanks for following up on this.

[2016-02-10 22:16] zufanka commented on #16
*"I want to figure some of it out for myself, even if they’re just small
things" -* I think introducing some basic debugging would be of a great
help here. What is a Syntax error? How should I read the error message,
what should I look for? The lecture is for people who have no idea about
programming, right?
Would it be an idea to introduce basics of debugging in let's say half an
hour during the

[2016-02-14 22:24] tommeagher commented on #16
@zufanka, I think it'd be great if you wanted to work on the debugging section. In past years, we slotted some time after the lunch break to talk about debugging, but we never got around to providing a lot of specifics beyond "Stack Overflow is great." If you want to lead that half-hour session and put together a cheatsheet, that'd be awesome. I recently read [this piece on debugging](http://p5js.

[2016-02-15 18:58] richardsalex commented on #16
@tommeagher, that makes sense. I'd say go for the new branched with some proposed reorg unless anyone else has any strong thoughts on this that would be good to know ahead of time.

[2016-02-24 17:08] scott2b commented on #11
Do we have a sense of why people don't understand indentation? Is it that people are so used to seeing more obvious delimiters, braces, open/close tags (in the case of markup), etc.? Or is it that people just don't fundamentally understand the concepts of blocks and scope? I suspect the latter. Maybe a simple early introduction to code blocks is in order, probably without getting into the gory det

[2016-02-24 17:33] scott2b opened #30 "2 vs. 3"
I feel like there should be some early coverage on Python 2 vs. Python 3. This is generally a source of confusion for newcomers. People tend to interpret higher numbers to mean latest version, and when it comes to major versions in particular, they tend to want to grab the latest and greatest.

I think there is a tendency by outsiders to perceive the ongoing run of parallel development to be some

[2016-02-24 17:44] richardsalex commented on #30
Hey, @scott2b, to your point about attendees already having 3 installed — we get around this by having them use lab computers in Denver instead of their own machines. We've gone back and forth on this a bit, and I think the consensus is we'd rather have attendees spend time learning the basics and working on some projects that puzzling out inscrutable install errors. For that, we're working on an

[2016-02-24 17:48] richardsalex commented on #11
I honestly think what really throws people off is the four-space / tab thing — they mix the two without even realizing it and then are bogged down with IndentErrors.

[2016-02-24 18:03] tommeagher commented on #11
@scott2b, most of the PyCAR attendees have worked extensively with Excel and SQL but generally don't have much experience with coding in any language.

I think a lot of the problem is that they have a hard time at first realizing that spacing matters, and there is a difference between a line of code that begins with 2 spaces and 4, just as there is a difference between a line of code that ends wit

[2016-02-25 01:59] tommeagher commented on #19
I added a link to the extra extra credit at the bottom of proposed update to the first project:
https://github.com/ireapps/pycar/blob/denver16/completed/filter_csv_complete.py#L50

Closing this issue for now, but if you want to take another swing at this, Chris, feel free to reopen and push commits.

[2016-02-25 01:59] #19 closed

[2016-02-25 02:01] tommeagher commented on #16
Attempted it in this pull request: https://github.com/ireapps/pycar/pull/31

Closing this issue for now, though I'm sure it can be improved upon. If someone wants to take another stab at it, please reopen and go for it.

[2016-02-25 02:01] #16 closed

[2016-02-25 02:12] tommeagher commented on #30
@scott2b, thanks for raising this issue. I agree we'll want to discuss the differences between the versions briefly during the session. I'd love to push this toward being all Python 3, particularly for how it handles unicode, but I don't know if we'll have time to do that before the conference this year. If you, or anyone else on the team has the bandwidth over the next couple weeks to make it ful

[2016-02-28 22:27] zufanka commented on #27
I made a [short presentation on debugging](https://docs.google.com/presentation/d/1cfDW3X8ipYPGipoQjsTVyga39AdEBZE2Yrp8VmsbaJk/edit?usp=sharing) and created a [simple buggy script](https://github.com/zufanka/pycar_debugging). The aim is to do this within half an hour. I'm also working on one A4 cheatsheet for types of errors (I still need to work out the examples). What do you think?
@tommeagher w

[2016-02-29 16:11] tommeagher commented on #27
@zufanka, I added your script to the repo and a link to your slide deck in [this commit](https://github.com/ireapps/pycar/commit/9c3cd7aed23f840b3f2633a6fc021b880ab22ee0). I think they look good and will be a good addition to the day.
The debugging cheatsheet will be super helpful too. Once you have that done and @hbillings does the general handout, we'll close this issue.

[2016-02-29 17:35] richardsalex opened #33 "Should IPython terminal be in the requirements file?"
Just to be clear, not the full IPython with Jupyter and its many deps.

[2016-02-29 22:25] tommeagher commented on #33
yes ?

[2016-03-02 17:10] #28 closed

[2016-03-02 17:10] #33 closed

[2016-03-02 22:14] tommeagher opened #34 "Batting order for PyCAR16"
Now that we've settled on the code and agenda for the day, we need to agree on who will teach which section. I'd like to do the early introductions of the day, but I'm flexible to pick up whatever project or section that isn't filled by one of you.

* Introduction (@tommeagher)
* The Basics (@tommeagher) - Starting with [this slide](https://ireapps.github.io/pycar/pycar_intro.html#/6), we'll intro

[2016-03-02 22:15] #26 closed

[2016-03-02 22:38] richardsalex commented on #34
I'll handle Project 1. Thanks, @tommeagher!

[2016-03-03 07:55] zufanka commented on #34
@tommeagher I'll take the project after debugging, so project 2!

Adriana

data journalist

+31-652245912 | 0F097E0F | @naberacka

On Wed, Mar 2, 2016 at 11:38 PM, Alex Richards <notifications@github.com>
wrote:

[2016-03-03 15:13] scott2b commented on #34
I believe that means I'm doing #3. Is that right?

[2016-03-03 17:34] tommeagher commented on #34
@scott2b, if you want to do Project 3, that'd be cool. Or if you want to do half of it (either the html or the json piece), I can do the other half.

I'll also do the basics along with the intro then.

[2016-03-03 17:54] scott2b commented on #34
I'm happy to do whatever. I can cover it, or if you want to jump on any part, that's cool. Maybe you would want to endcap since you are starting us off in the morning. But whatever you think will work.

[2016-03-03 18:02] tommeagher commented on #34
Scott, if you're game to do the whole project, that's great. I'll be around all day to coach and add 2 cents, so they'll hear enough of my voice This works for me.

[2016-03-03 18:20] scott2b commented on #34
:+1:

[2016-03-04 17:08] tommeagher commented on #34
Awesome. I've updated the lineup above accordingly.
Over the next few days, please take a look at the code and comments for your project and be sure you know what's happening in it. If you have questions or need a hand, please email me or file a ticket (or a pull request) here.
Otherwise, I'll close this issue and look forward to seeing each of you on Thursday morning at 9 a.m. in Mattie Silks (if

[2016-03-04 17:08] #34 closed

[2016-03-04 18:22] richardsalex commented on #34
Thanks, Tom! Look forward to seeing everyone in Denver.

[2016-03-05 18:36] zufanka commented on #27
@tommeagher hereby the [cheatsheet](https://drive.google.com/file/d/0B_BeTUfAamwHazcxSkVsT0d4aXc/view?usp=sharing). Did I miss something important? Also: could it be printed in color? If not I have to come up with something else.  :) Looking forward to seeing you all in Denver!

[2016-03-06 18:57] tommeagher commented on #27
@zufanka, this debugging tipsheet looks good. We're actually not going to be able to print them off for people, but they'll be able to see the colors on the PDF and print them at home. Very nice. Thank you for pulling it together! I'll add it to the repo in the morning.

I'm not sure if @hbillings will still be able to do the more general python tipsheet as she's just starting her new job, but we

[2016-03-06 20:26] richardsalex commented on #27
+1, @zufanka, looks great!

[2016-03-07 20:03] scott2b opened #35 "project 3 workflow"
Ok, reiterating my question about project 3, hopefully in the right repository this time.

Is it the case that the file scraper.py is meant to be the working file for the narrative outlined in the README? So the idea would be to work through the Readme in that file? Or is the Readme meant to be explained via the shell and then get_json and json_to_csv (and scraper?) done in files?

[2016-03-07 20:17] tommeagher commented on #35
I'm not sure I understand your question exactly, but I'll try, and maybe @esagara can elaborate and correct what I get wrong.

The idea is to start with scraper.py and have the class fill in the blanks with you (the working version of the script is in ```completed/scraper_complete.py```) as you explain the process of web scraping and build on the lessons earlier in the day. As much possible, you w

[2016-03-07 20:18] scott2b commented on #35
Yes, perfect. Thanks.

[2016-03-07 20:18] #35 closed

[2016-03-07 20:32] tommeagher commented on #35
Great. Sorry for any confusion. With a project like this, where we have about a dozen contributors who only look at pieces of this once a year before the conference, there are definitely bumps that can be smoothed out. So please let us know ways you see to improve the flow or the code. Any advice from a pair of fresh eyes is greatly appreciated.

[2016-03-09 20:22] scott2b opened #36 "html file mismatch in project3"
The html file that has been added to project 3 is not the same page that is indicated to be fetched in the README.

[2016-03-09 20:43] tommeagher commented on #36
It's good to have a local copy of the file in case the internet sucks. Could've sworn I tested the scraper on that HTML file and it seemed to work. But I could be wrong. Do you want to swap it out for a correct HTML file?

[2016-03-09 20:48] scott2b commented on #36
Yes, I think the scraper as written in the completed files matches what you've pushed up as the cached copy in the html directory -- but this doesn't not match what you actually get if you fetch the page. Thus, as written, the scraper does not work for the remote page - so I wasn't sure how best to handle it. I think the class just needs to be removed from the table selection. So, I guess ideally

[2016-03-09 21:12] tommeagher commented on #36
Agree that would be ideal. Do you have the bandwidth to make the changes?Also pinging @esagara in case he has some insight.

[2016-03-09 23:27] scott2b commented on #36
done

[2016-03-09 23:27] #36 closed

[2016-03-10 01:19] richardsalex commented on #36
Just FYI all, this change won't be reflected on the lab computers tomorrow — we did the final load today for late and updated data. Shouldn't matter because everyone's writing it from scratch.

[2016-03-10 01:21] scott2b commented on #36
Ok good to know. Thanks for the heads up
--
Scott Bradley

[2016-03-15 19:25] tommeagher opened #37 "Variables, methods, objects"
A small piece of feedback on PyCAR16 from @mjwebster:

I agree this is very confusing for newcomers to programming and to Python. Is there a way to simplify this, or to explain why we name the variable after the object created by the same-named method?

[2016-03-15 20:04] tommeagher commented on #30
Now that we're past NICAR, I'll try to carve out a little time to make a branch to port the code to Python3.

[2016-03-15 20:26] tommeagher opened #38 "Refactor project 2"
The class this year was almost completely overwhelmed by project 2. It started to go astray [somewhere around here](https://github.com/ireapps/pycar/blob/master/completed/baseball_complete.py#L72).

There are many new concepts being introduced here:
- adding and unpacking dicts
- functions and return values
- try/except
- type conversion (from string to int)
- nested for loops
- [this one-liner](h

[2016-03-15 21:18] scott2b commented on #37
Are there specific examples of confusing variable names? I am wary of the suggested approach which is dangerously close to Hungarian notation and I think teaches bad habits. If there are places in the example code where we are clobbering scoped modules or other objects, then those should definitely be fixed. I'd be okay with a convention such a using a 'my' prefix (my_writer, my_integer, etc.) as

[2016-03-15 21:36] mjwebster commented on #37
Here's an example from one of the scripts we did on Thursday:

writer = csv.writer(output_file,delimiter=',')

It's immensely confusing when "writer" is used in two different ways.

I don't understand why it would be bad to "variablize" names. "my_writer",
"my_integer" etc would be useful. Why would this be a "bad habit"? Does it
wreck the code somehow? Is it just that it requires extra typing?

Y

[2016-03-15 21:41] scott2b commented on #38
So, I have a confession. I did not really scrutinize the code for projects 1 and 2. I had made the assumption that everything would progressively lead up to project 3. As it turns out, it seems to me that there is much more complex and arcane material here in project 2 than in 3. The points that Tom makes here are spot on. Arcane dictionary updates via kwargs (when we have not even taught concepts

[2016-03-15 22:05] richardsalex commented on #38
After some reflection and feedback from attendees, I'm not confident that a refactor is going to make this workable. Project 3 should probably be moved to Project 2's spot (I was leaning this way before PyCAR and in hindsight wished I would've suggested it for the group to consider), and I believe there needs to be a rethinking of a simpler, practical project that introduces some of the necessary

[2016-03-15 22:14] richardsalex commented on #37
@mjwebster, I don't think it's an issue to carry those `my_<whatever>` conventions forward from the basics section into the first project. I appreciate the suggestion. I think @scott2b was just making the point that it has the capability to make the code less readable as things get more complicated, but this might not really matter for beginners who are just starting to grasp some of the concepts.

[2016-03-15 22:17] scott2b commented on #11
Now having been through this, I can see that that the problems with whitespace are greatly exacerbated with a copy-paste shell/interpreter approach to teaching. I really recommend that we move away from this workflow. Nearly all of the problems I fielded through the day were some sort of whitespace/formatting copy-paste issue or scoping/availability issues due to things being pasted out of order o

[2016-03-15 22:30] scott2b commented on #37
I think in this example, `my_writer = csv.writer ...` would be fine. The use of "my" variables is something of a tutorial mainstay that I am ok with. The primary point of these in instruction or tutorial is to make it clear that the name is arbitrary (although we might have to explain that point up front.) What I maybe was not clear about is that I am wary of a "v" or "var" prefix notation or simi

[2016-03-15 22:48] scott2b commented on #38
The reorganization makes sense to me. I am, however, a bit wary of venturing at all into the realm of relatedness, cardinality, etc. I sense this might be a bit much for a one-day workshop. It introduces a fair amount of complexity. Whereas, if our target is people who understand Excel, maybe it would make sense to take a simpler approach to data extraction, extracting into multiple CSVs and handl

[2016-03-15 22:53] scott2b commented on #11
I see that Cezary has followed up his comments to me directly with a post on PythonJournos: https://groups.google.com/forum/#!topic/PythonJournos/1wnfJeiVTmI

[2016-03-16 03:17] zufanka commented on #37
I agree that we should use variable names that are not confusing, however
if I'm not mistaken, using "writer" for csv.writer is sort of a convention.
So I think we also just might explain that while variable names are
arbitrary, some are conventional: as one is going to come across the
conventions further in the documentation and StackOverflow as well

Adriana

data journalist

+31-652245912 | 0F0

[2016-03-16 15:06] tommeagher opened #39 "Use Jupyter notebooks to teach all projects"
This was mentioned in #11. Rather than using the interactive interpreter or the IPython interpreter, for a class of beginning coders, it will likely be a lot easier to use Jupyter notebooks to teach these principles.
We can still break out comments and fill-in-the-blank code blocks throughout, and it will let you run each line or block of code interactively, to get the sense of how each one works.

[2016-03-16 15:07] tommeagher commented on #11
I broke out the Jupyter notebooks discussion into it's own issue, #39, so we can keep this thread specific to teaching whitespace and code blocks.

[2017-01-19 21:46] tommeagher opened #40 "Final review of code and docs before we land in Jacksonville"

[2017-01-20 01:21] zufanka commented on #38
If we would like this project to still be about cleaning and analysis, how about we do some pandas?
Pandas was made for the job. On top of that: once they go out there and start using Python in the "real world" there is no way around using libraries anyway.

[2017-01-20 02:17] esagara commented on #38
My concern with incorporating pandas is that it has a pretty complex API with some potentially confusing sticking points such as dataframes and arrays. And every time I've worked with pandas I've ended up dipping into numpy...

[2017-01-20 09:17] zufanka commented on #38
You are right. I believe after seeing just pure python, pandas could be quite confusing at first.
I have recently taught pandas journalists with zero prior knowledge of programming (see [for example this sheet](https://github.com/zufanka/irj-mechelen-pandas/blob/master/class-2/Worksheet%202.ipynb)). As you can see I kept it very practical, really *interviewing* the data.
It worked quite well in th

[2017-01-20 22:01] tommeagher commented on #38
I think for all the reasons outlined above, we should drop the "project 2" we did last year with the baseball stats.

Looking at the schedule now, we might have an hour at the end of day two for another project to add to the mix. As @esagara and @zufanka point out, that might not be enough time to really get people comfortable with pandas, especially when they're still struggling to wrap their hea

[2017-01-20 22:43] robroc commented on #38
@tommeagher I'm very new to this thread and heaven't taken a good look at the projects. But instead of pandas, what if you introduced @onyxfish's Agate library for data work? It works well in Jupyter and was made specifically to be more explicit in syntax. I think Matt Waite uses it in his class and he swears by it.

[2017-01-21 04:25] hbillings commented on #38
Back in The Day, the genesis of this project was to introduce different datatypes people would encounter. I haven't yet looked at how everything evolved last year, but I'm wondering if maybe this time would be well spent doing some much smaller exercises that demonstrate things like how to check for a key in a `dict`, how a `list` is different from a `dict`, how to iterate over things, etc. Withou

[2017-01-23 13:32] zufanka commented on #38
I agree that a solid understanding of data types is important to be an
efficient programmer. However, I was writing scrapers for some time before
ever learned how to actually use dictionaries. Therefore I believe that it
is not essential for applied usage.

What is the main focus of PyCar? Learning Python step-by-step for a solid
basis or an applied usage of Python for journalists?

[2017-01-24 02:49] tommeagher commented on #38
The main focus is definitely getting journalists enough knowledge to be
comfortable using Python and basic programming in their reporting. We're
not training engineers; this is all about journalism.

That said, if we can impart best practices that will make their lives
easier down the road, we want to do that. We will deal with dicts briefly
in the intro, so we don't necessarily have to go into gr

[2017-01-24 21:36] tommeagher commented on #12
@chrislkeller, would you like to revisit this ahead of Jacksonville?

[2017-01-24 21:50] tommeagher opened #41 "Software requirements"
We need to give IRE a list this week of software we want pre-loaded on the machines for us. The good news is we'll be on Macs this year.

So I'm pretty sure we'll want:
* Python 3
* pip
* virtualenv
* virtualenvwrapper
* requests
* bs4
* jupyter

Anything else I'm not thinking of?

[2017-01-24 23:19] zufanka commented on #38
The question is this: is Agate the best way to wrap up the day with a data
focus

Not sure about the best way.
But it might be refreshing to end the day with some simple one liners.

can we reasonably do enough of it in ~45 mins to make it
meaningful to programming newcomers?

I believe we can.
But it can't go too far in of course.

 "Who can/will write the code and teach that lesson?"

If nobody

[2017-01-25 22:17] chrislkeller commented on #12
@tommeagher: Certainly... Have been buried but I need to get a handle on what's what now in the course materials.

[2017-01-25 22:47] tommeagher commented on #12
@chrislkeller 👍

[2017-01-26 21:36] tommeagher commented on #38
@zufanka, if you're willing to give it a shot, go for it. Do you think you could put something together in the next week or two, so we can all give it a look and weigh in before the conference?

[2017-01-26 22:28] zufanka commented on #38
@tommeagher sure! I have been wanting to look into agate for some time anyway.
Could you maybe help me with suggesting an interesting / relevant data set for the audience?

[2017-01-26 22:37] zufanka commented on #41
@tommeagher Agate

[2017-01-27 02:34] tommeagher commented on #41
@zufanka We've used Anaconda in years past, and from my vague recollection, it seemed to cause as much confusion as it solved. I don't know if I'd recommend students use anaconda at home, but it may not matter much for the purposes of the workshop. I'm agnostic. Whatever's easiest for all involved.

[2017-01-27 20:49] robroc commented on #38
If I may suggest another useful tool for working with data: Counter in collections, for finding the most common elements in a list, or a column of data.

[2017-01-27 22:06] tommeagher commented on #41
I gave all of these to our friends at IRE today. If we need to add anything else, let me know. We should be able to `pip install` additional libraries as needed.

[2017-01-27 22:06] #41 closed

[2017-02-08 12:10] zufanka commented on #38
Please see [project 2 refactored in `agate` and in `pandas`](https://github.com/ireapps/pycar/tree/master/project2)

I have spend several hours looking into `agate`. It took some effort getting into, as while `pandas` is really dry, `agate` is quite verbose, creating sort of sentences in the code.
I see how that adds to the readability by humans (which is what `agate` is supposed to do)

For examp

[2017-02-09 21:54] tommeagher commented on #30
So somehow 11 months have flown by. I'd still like us to move ahead and move to Python 3 this year. Would anyone in our squad of instructors for Jacksonville be able to help port the exercises and documentation to 3?

[2017-02-09 22:01] tommeagher commented on #38
@zufanka this is awesome! Thanks so much for taking this on, and you did it in Jupyter notebook, which is great.
Looking at the code, I like the pandas version personally, but that's probably because I've used pandas a lot more than agate. What do others think?

[2017-02-14 00:08] tommeagher commented on #30
I'll take this on. I've started a [branch here](https://github.com/ireapps/pycar/tree/py3) that thus far just has a notebook for the basics section. I'll keep adding tot his branch over the next few days and then will ask for volunteers to give it a look.

[2017-02-14 04:21] robroc commented on #30
Sorry I've been silent so long. Crazy few weeks. I can start contributing more actively. @tommeagher, anything in particular you need help with?

[2017-02-14 10:52] zufanka commented on #30
Second project is already in 3 !

On Feb 14, 2017 1:08 AM, "Tom Meagher" <notifications@github.com> wrote:

[2017-02-14 17:32] tommeagher commented on #30
@robroc no problem. I've done the basics and project 1 and @zufanka has done project 2. Give me another day or so to finish porting project 3. Then I could use your help testing and checking everything and offering feedback on improvements. I'll holler when I'm ready.

[2017-02-14 17:56] hbillings commented on #38
Haven't gotten a chance to review yet, but two thoughts here:
1) I don't think we should be beholden to the project structure, data or examples. If the aim of this project is to introduce working with a particular library, maybe there are larger chunks of this that need to change.
2) What if we break between projects 1 & 2 to describe the Python ecosystem a little bit better? It might help to talk

[2017-02-14 19:03] zufanka commented on #38
Thank you for your thoughts Heather.

1. I do think that the project data and objectives are perfectly valid for
the students needs: it does a bit of data cleaning and joining of two data
sets which is really useful in practice. But please have a look and feel
free to adjust.

2. Sounds like a good idea!

On Feb 14, 2017 6:56 PM, "Heather Billings" <notifications@github.com>
wrote:

Haven't gotten

[2017-02-16 19:46] tommeagher commented on #38
Closed by 123e83bdf530b2cc067bd24e748894f7108316e2

[2017-02-16 19:46] #38 closed

[2017-02-16 19:46] tommeagher commented on #39
Closed by 123e83bdf530b2cc067bd24e748894f7108316e2

[2017-02-16 19:46] #39 closed

[2017-02-16 19:46] tommeagher commented on #30
Closed by 123e83bdf530b2cc067bd24e748894f7108316e2

[2017-02-16 19:46] #30 closed

[2017-02-16 19:47] tommeagher opened #43 "Refresh the intro slide deck"
Can be found here: https://ireapps.github.io/pycar/pycar_intro.html#/

[2017-02-25 19:10] #43 closed

[2017-02-27 22:45] esagara opened #44 "BeautifulSoup4 may need to be upgraded"
I just tried bootstrapping the pycar repo using ```pip install -r requirements.txt```. When importing BeautifulSoup it throws an error - ```ImportError: cannot import name 'HTMLParseError'```. This is fixed by running ```pip install --upgrade beautifulsoup4```. Apparently this has been an [issue](http://stackoverflow.com/questions/28745153/importing-bs4-in-python-3-5) since Python 3.5. Do we need

[2017-02-27 22:50] tommeagher commented on #44
I'm assuming you used ```pip3 install beautifulsoup4```?

I haven't had that issue, but if it's common, we should address it. Do you want to update requirements.txt?

It shouldn't be a problem in the class, since it's already installed on the machines, but will be good for the repo to work for folks when they get home.

[2017-02-27 23:18] esagara commented on #44
I've been using pyenv to manage my python versions, so I did not need the pip3 command. Is there a reason for the version requirement? I don't want to alter it and break something down the road.

[2017-02-27 23:35] rdmurphy commented on #44
`pip3` (and `python3`) are where Python 3 lives in scenarios where both versions have been installed. Main reason is to avoid breaking all the things where `python` is expected to be v2 in build chains. Dunno what computers y'all are using, but I know this is the case with Homebrew and MacOS.

If you use something like `pyenv` or `virtualenv` to create a Python 3 environment, it'll point `pip` at

[2017-03-02 01:56] #40 closed

[2017-03-03 20:58] tommeagher opened #45 "Change scraper_notebook.ipynb and scraper_notebook_complete.ipynb to use DictWriter"
This is for Eric, who decided to upend his whole exercise on the fly today. It went surprisingly well, but now we need to update the exercise and the completed notebook, so people can have the resource.

[2017-03-03 21:01] tommeagher opened #46 "fix mistakes in scraper README"
@thejqs noticed the slicing notation is wrong. It says rows[3:4] but should be rows[3:5]

And we accidentally call it "unemployment.csv" in one spot rather than movies.csv

[2017-03-03 21:02] tommeagher commented on #45
Also need to add the s3 URL for the page we're hitting to the comments in the shell script (and the completed script): https://s3-us-west-2.amazonaws.com/nicar-2015/Weekly+Rankings+-+Weekend+Box+Office+Results+++Rentrak.html'

[2017-03-05 03:32] hbillings opened #47 "Add instructions for getting Jupyter running"
I don't think we ever really told people how to run the exercises at home (I've been trying to get it to run locally and not having a ton of luck, though I think it's because my personal virtualenv setup is foobarred at the moment). That would probably be helpful info!

[2017-03-05 03:34] hbillings opened #48 "Add link to basic instructions for running .py scripts"
We've got some links in the takehome for installing Python, but it would be nice to also link to a resource that explains how to run a `.py` script from the command line.

[2017-03-05 03:39] hbillings opened #49 "Rework basics exercise"
The solitaire example we used to introduce the class seemed to work pretty well as an intro to thinking about programming. I think it would be a good idea to rework the basics exercise to include/build on the solitaire example, so that people can have some context for what the different data types can represent. I've got some notes for running through that card game example, so I can try combining

[2017-03-05 04:12] tommeagher commented on #49
👍🏼
On Sat, Mar 4, 2017 at 10:39 PM Heather Billings <notifications@github.com>
wrote:

[2017-03-05 16:07] zufanka commented on #47
Install anaconda?

On Mar 4, 2017 10:32 PM, "Heather Billings" <notifications@github.com>
wrote:

[2017-03-06 17:11] #44 closed

[2017-03-06 17:35] chrislkeller commented on #47
@hbillings: You're referring to `pip install`-ing requirements, firing up the notebook, etc...

[2017-03-06 17:40] tommeagher commented on #47
We could flesh out this section a bit with more info on jupyter: https://github.com/ireapps/pycar/tree/master/takehome#get-your-machine-ready

[2017-03-06 18:04] chrislkeller commented on #49
I loved your use of solitaire to explain programming logic. It extended so nicely throughout the session. Go for it!

[2017-03-07 00:01] tommeagher commented on #48
This is a good idea. Do you have any good ones in particular in mind?

[2017-03-08 02:15] #46 closed

[2017-03-08 02:17] tommeagher commented on #11
Strangely, this issue didn't really come up at all this year. Perhaps the Jupyter notebook and the way it auto-indents loops and conditionals with four spaces helped mitigate this issue.
I'll close this issue for now. If anyone wants to continue the discussion, please feel free to re-open.

[2017-03-08 02:17] #11 closed

[2017-03-08 02:19] tommeagher commented on #15
So in porting the exercises to Python3, I found that trying to read the text files with "rb" was throwing an error. I had to remove the "b" to get it to work. Does anyone know if Python3 handles the binary flag differently for text files? Is this no longer a concern?

[2017-03-08 02:53] zstumgoren commented on #15
@tommeagher I got bit by this too. The "short" answer is that text vs. binary data handling is saner in Python3 -- in a way that now requires the usage of the binary mode only when you actually need bytes of data (rather than encoded characters). In olden 2.x days, the 'b' was often used to ensure file reads worked properly on certain platforms such as Windows, although the flag was generally igno

[2017-03-08 02:55] zstumgoren commented on #15
This is also helpful imho: https://docs.python.org/3/library/functions.html#open

[2017-03-08 02:57] tommeagher commented on #15
@zstumgoren got it. This is really helpful. So it seems then this discussion is now moot. Thanks for the advice!

[2017-03-08 02:57] #15 closed

[2017-03-14 15:57] dannguyen commented on #48
I've written this guide, various times, for my own classes:

http://www.compjour.org/lessons/hello-ipython/hello-goodbye-ipython/

I'm working on a more comprehensive (and hopefully) finally revamp, but feel free to steal code/ideas/content

[2017-03-14 16:09] dannguyen commented on #37
I run into this problem quite frequently.

Even if `writer` is the convention when referring to some "writer" class, it is way too easy for a novice (and intermediate-level) to either conflate or mistake `csv.writer` with `writer`, when `writer` is a label that is completely arbitrary. I like using `csv_writer` if I feel like being explicit. Or, `cw`.

In the latter case, the variable name is not

[2017-03-14 19:25] esagara commented on #37
This is actually one of the issues I noticed myself as we were going through the class. I spend a lot of time thinking about short, declarative variable names as I write my code so that it is self-documenting. I noticed that we had at times single or double letter variables, used reserved keywords for variables or used singular variable names for lists and dictionaries. Now some of this may be up

[2017-04-27 02:36] tommeagher commented on #45
Ahem, @esagara...

[2017-11-15 20:04] tommeagher commented on #49
@hbillings, PyCAR2018 is on the horizon. Would you be willing to take this ticket on over the next couple months?

[2017-11-15 20:04] tommeagher commented on #12
@chrislkeller Want to take a swing at this for 2018?

[2017-11-21 18:19] hbillings commented on #49
@tommeagher yassssss

[2017-11-21 18:48] tommeagher commented on #49
@hbillings awesome. Thank you!!

[2018-01-27 20:59] #49 closed

[2018-01-27 21:28] tommeagher commented on #45
@esagara ?

[2018-01-29 14:08] #45 closed

[2018-03-08 18:41] esagara opened #53 "Refactor exercises to have better variable names"
We need to take a look at our naming conventions and make sure the variables don't cause confusion with existing functions, methods or objects.

[2018-03-09 15:10] tommeagher commented on #53
Such as ```writer = csv.writer(output_file, delimiter=',')``` in filter_csv_notebook.ipynb threw people. Could be something like ```output = csv.writer(output_file, delimiter=',')```

[2018-03-09 15:12] elainewong opened #54 "Change basics to include if statements"
For Pycar 2018, we ended up finishing the basics exercise with introductions of if statement and nested if statements instead of quickly introducing for loops. It would be good to refactor the ending of the basics lesson to match this.

[2018-03-09 15:32] tommeagher opened #55 "Tweak ending to solitaire example"
Everything went great until we got to the last command
[code]

There's a big leap there, including a for loop for a list (```columns```) that we haven't created yet.
We called an audible and instead added a conditional to check if the card is one less than the previous, and if the suit is the same.

[code]

[2018-03-09 17:59] tommeagher commented on #54
Duplicate of #55.

Great minds...

[2018-03-09 17:59] #54 closed

[2018-03-09 18:02] tommeagher opened #56 "sort dataframe before deduplicating"
In Project 3 pandas exercise, sort it by year ascending before deduping so you get the most recent year.
Reset the index.

[2019-01-13 21:17] tommeagher opened #57 "freshen the README and schedule with info for 2019"

[2019-02-01 14:35] chrislkeller commented on #12
Four - FOUR! - years later I have no idea what this means...

Digging in.

[2019-02-01 21:48] hbillings commented on #12
Good grief I miss being part of this group. Fingers crossed that next year Life sees fit to let me pester you all again. <3

[2019-02-01 22:56] rdmurphy commented on #12
I haven't taught PyCAR years but I still enjoy the annual alerts that yank us all back in here

[2019-02-02 13:55] tommeagher commented on #12
This is going to be our sixth year, so we have quite a community of alumni now. Glad you enjoy the annual return of the Github discussion, @rdmurphy.
@hbillings, sorry we won’t see you this year. Hoping you can make it next year.

[2019-02-03 01:04] robroc commented on #57
I'm tweaking the README for Project 2 to be more in line with the Jupyter Notebook.

[2019-02-03 01:12] robroc commented on #12
Not sure this is the right issue for this but: I'm seeing a lot of print statements without parens. Are we still teaching Python 2?

[2019-02-03 01:19] robroc opened #58 "what's the deal with the API section in Project 2?"
There's some mention of using an API in the README of Project 2 but it looks unfinished. Is this still part of the scraping session?

[2019-02-03 15:44] tommeagher commented on #58
It was in years past. It's the get_json_notebook.ipynb and https://github.com/ireapps/pycar/blob/master/project2/json_to_csv_notebook.ipynb notebooks. But if you think it needs beefing up—or it's too much to squeeze in—we can certainly adjust. See what you think.

[2019-02-04 22:07] esagara commented on #53
How do we want to approach handling this? My thought is a lot of people are going to be doing some tweaks to the code as it is, do we want to wait until we are closer to finalizing before standardizing variable names throughout?

[2019-02-06 02:46] robroc commented on #58
How did it go in past years? Was there enough time to cover everything?

[2019-02-06 02:52] robroc opened #59 "Add newline='' argument to open?"
When using Python 3 in Windows with csv, sometimes an extra carriage return is added after each row. Result: a blank row after each row of data.

I propose adding the `newline = ''` argument to open, as such:

[code]

[SO question that addresses this.](https://stackoverflow.com/questions/3348460/csv-file-written-with-python-has-blank-lines-between-each-row/3348664)

[2019-02-06 18:52] tommeagher commented on #59
Works for me.

[2019-02-06 18:53] tommeagher commented on #58
I think so, but my recollection is hazy, honestly. @esagara should remember better since he tackled those projects the last couple of years. Did we get to the json sections, Eric?

[2019-02-06 21:31] esagara commented on #53
Ok I am on the road, but will try to tackle sometime over the next week or so.

[2019-02-21 04:19] robroc commented on #58
Poking @esagara. Were the JSON sections covered last year?

[2019-02-24 15:37] robroc commented on #58
At any rate, I'll prepare to cover JSON in case there is time and the group seems ready for it. I'll take the pulse of the attendees to decide on the spot.

[2019-02-24 15:37] #58 closed

[2019-02-24 15:38] tommeagher commented on #58
That's a good plan. We can certainly adjust our speed on the fly if need be.

On Sun, Feb 24, 2019 at 10:37 AM Roberto Rocha <notifications@github.com>
wrote:

[2019-03-03 15:21] tommeagher commented on #55
@meli-lewis & @elainewong you should take a look at this issue in reference to https://github.com/ireapps/pycar/blob/master/completed/basics_complete_notebook.ipynb to see how you want to address it on Thursday, if you haven't already.

[2019-03-03 15:29] #57 closed

[2019-03-03 15:31] tommeagher commented on #59
Hey @robroc, you fixed this in the scraper notebook. Do we need to adjust this in any of the other exercises, do you think?

[2019-03-04 05:11] chrislkeller commented on #53
I addressed `writer = csv.writer(output_file, delimiter=',')` in filter_csv_notebook.ipynb.

[2019-03-04 05:13] #12 closed

[2019-03-04 12:38] tommeagher commented on #12
👏 👏 👏  for closing this issue from 2015, @chrislkeller!

[2019-03-07 19:50] elainewong commented on #55
For 2020,

When we create dictionaries for ```play_card``` and ```first_card```, we also create ```second_card```, ```third_card``` and ```fourth_card```. We can add that to a list called ```columns = [first_card, second_card, third_card, fourth_card]``` where we can do a for loop for comparison at the end.

Let's make sure that the solitaire example would move the card off the top deck and when w

[2019-03-07 20:32] zufanka commented on #56
fixed

[2019-03-07 20:32] #56 closed

[2019-03-08 02:05] tommeagher commented on #47
I believe @thejqs has a plan to add something to the repo for this after the conference this year.

[2019-03-08 02:29] #59 closed

[2019-03-08 22:45] #47 closed

[2019-03-08 22:51] tommeagher commented on #55
closed by 4432e38

[2019-03-08 22:51] #55 closed

[2019-03-10 19:59] tommeagher opened #67 "What can be better next year?"
What worked well this time? What could've gone better? What missed the mark? Is there anything we could've used more of or less of?

Any and all feedback and ideas are welcome.

@elainewong, @meli-lewis, @chrislkeller, @aboutaaron, @zufanka, @robroc, @esagara, @thejqs?

Any PyCAR students have advice or reactions?

[2019-03-10 22:18] tommeagher opened #68 "Ducks"
I think @esagara said he might have a lead on how to get customized PyCAR rubber ducks?

[2019-03-11 03:01] hbillings commented on #68
Okay, what do I gotta do to get one of these??
--
Sent from Gmail Mobile Heather Battaglia Innovation Specialist, 18F

[2019-03-11 20:13] tommeagher commented on #68
@hbillings come to NICAR 2020 in New Orleans!

[2019-03-22 20:59] robroc commented on #67
One quick thought: we could update the HTML table used in the scraping portion. That 2015 table hosted on S3 is looking pretty dated.

[2019-03-25 22:54] tommeagher commented on #67
@robroc, this is a good idea. I think we can fairly easily freshen that data with more recent films from the same source.

[2019-03-28 16:57] thejqs commented on #67
Little bit of feedback I got was that we spent a lot of time explaining at the expense of helping them build up some muscle memory. (I'm paraphrasing.)

Almost all of us have helped with PyCAR more than once, and I found myself wondering, too, whether I spent too much energy anticipating problems and trying to pre-explain them out of existence instead of letting things happen more as learning-by-d